RESEND_API_KEY=your_api_key_here
PORT=3006
NODE_ENV=development  
WALLET_DIR_NAME=wallet
DB_USER=MS_REPORTES # Asumiendo que sigue el mismo patrón que MS_PAGOS y MS_ACADEMICO
DB_PASSWORD=LemacReportes2026
WALLET_PASSWORD="Lemacdatalab2026$"
DB_CONNECT_STRING=softwarepayescolar_high              