NODE_ENV=development
PORT=3003
JWT_SECRET=your-very-strong-secret
JWT_EXPIRES_IN=30m
REFRESH_TOKEN_EXPIRES_IN_DAYS=30
BCRYPT_SALT_ROUNDS=12
DB_DIALECT=oracle
DB_HOST=localhost
DB_PORT=1521
DB_NAME=softwarepayescolar_identity
DB_USER=identity_user
DB_PASSWORD=your-db-password
WALLET_DIR_NAME=wallet
TNS_ADMIN=./wallet
AUTH0_ISSUER_URL=https://<tu-dominio>.auth0.com/
AUTH0_AUDIENCE=https://api.mi-empresa.com/
