# Entorno
NODE_ENV=development
PORT=
DB_USER=MS_GEO
DB_PASSWORD=LemacGeo2026
WALLET_PASSWORD="Lemacdatalab2026$"
DB_NAME=softwarepayescolar_high
WALLET_DIR_NAME=wallet
JWT_SECRET=clave.muy.fuerte.y.segura
# Datos temporales para pasar la validación de arranque
AUTH0_ISSUER_URL=https://dev-test-123.us.auth0.com/
AUTH0_AUDIENCE=https://api.mi-empresa.com/