NODE_ENV=development
PORT=3002
JWT_SECRET=clave.muy.fuerte.y.segura
MS_AUTH_URL=http://localhost:3001
MS_GEO_URL=http://localhost:3005
MS_ACADEMICO_URL=http://localhost:3004
MS_IDENTITY_URL=http://localhost:3003
MS_DOCUMENTOS_URL=http://localhost:3006
MS_PAGOS_URL=http://localhost:3005