# Entorno
NODE_ENV=development
PORT=3005
DB_USER=MS_PAGOS
DB_PASSWORD=LemacPagos2026
WALLET_PASSWORD="Lemacdatalab2026$"
DB_NAME=softwarepayescolar_high
WALLET_DIR_NAME=wallet
JWT_SECRET=clave.muy.fuerte.y.segura
ENCRYPTION_KEY=49dd638c7e6de02bb1f68f132142935268b23332d33c71752bda40ecb9d6b7c6
HMAC_SECRET=b65f6e9d5c2b2bfa1baed44b3ab24a9f392d14d3fb0776013b71b1af184d8ac16899c6684c3345add762b482f368209c9a904df484df17e30fd5d1f256478f04
# Datos temporales para pasar la validación de arranque
AUTH0_ISSUER_URL=https://dev-test-123.us.auth0.com/
AUTH0_AUDIENCE=https://api.mi-empresa.com/